@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 5em; 
    color: #ddd; border: -3em; text-align: center; 
    background-size: cover;
    background-position: center;">
    <br>
    <br>
    <br>    <br>
    <br>
    <br>
    <h1 style="color: black;">Welcome to Membership Managements Software</h1>
    <br>
    <br>
    <p style="color: black;">We are here to help you pick the <i>BEST</i> Membership Managements Software for your company. </p>
    <br>
    <br>
    <button class="btn btn-outline-secondary btn-lg" style="color: black;">Show Me the Softwares!</button>
    <br>
    <br>    <br>
    <br>
    <br>
    <br>
</div>

